# Importing Libraries

In [1]:
from datetime import datetime
from pytz import timezone
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import numpy as np
from scipy.stats import pearsonr
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import seaborn as sns
# import OS module
import os

import time
import io
import requests

In [4]:
path = "http://localhost:8888/tree/Documents/GitHub/Gas_Sensor_Calibration/Static Node Data 291021to071121 "

obj = os.scandir()
 
# List all files and directories in the specified path
print("Files and Directories in '% s':" % path)
for entry in obj:
    if entry.is_dir() or entry.is_file():
        print(entry.name)

Files and Directories in 'http://localhost:8888/tree/Documents/GitHub/Gas_Sensor_Calibration/Static Node Data 291021to071121 ':
AQ46.csv
AQ18.csv
AQ35.csv
AQ34.csv
AQ21.csv
Untitled.ipynb
AQ24.csv
AQ30.csv
AQ42.csv
AQ25.csv
AQ41.csv
.~lock.AQ12#
AQ32.csv
AQ38.csv
AQ39.csv
AQ37.csv
AQ17.csv
AQ20.csv
.~lock.AQ12.csv#
AQ40.csv
.~lock.AQ50.csv#
AQ16.csv
AQ14.csv
AQ26.csv
AQ44.csv
AQ49.csv
AQ43.csv
AQ22.csv
AQ36.csv
AQ12.csv
AQ47.csv
AQ33.csv
AQ31.csv
AQ45.csv
AQ50.csv
AQ15.csv
AQ23.csv
AQ13.csv
.ipynb_checkpoints

In [11]:
AQ12 = pd.read_csv('AQ12.csv', parse_dates = ['created_at'])
AQ13 = pd.read_csv('AQ13.csv', parse_dates = ['created_at'])
AQ14 = pd.read_csv('AQ14.csv', parse_dates = ['created_at'])
AQ15 = pd.read_csv('AQ15.csv', parse_dates = ['created_at'])
AQ16 = pd.read_csv('AQ16.csv', parse_dates = ['created_at'])
AQ17 = pd.read_csv('AQ17.csv', parse_dates = ['created_at'])
AQ18 = pd.read_csv('AQ18.csv', parse_dates = ['created_at'])
AQ20 = pd.read_csv('AQ20.csv', parse_dates = ['created_at'])
AQ21 = pd.read_csv('AQ21.csv', parse_dates = ['created_at'])
AQ22 = pd.read_csv('AQ22.csv', parse_dates = ['created_at'])
AQ23 = pd.read_csv('AQ23.csv', parse_dates = ['created_at'])
AQ24 = pd.read_csv('AQ24.csv', parse_dates = ['created_at'])
AQ25 = pd.read_csv('AQ25.csv', parse_dates = ['created_at'])
AQ26 = pd.read_csv('AQ26.csv', parse_dates = ['created_at'])
AQ30 = pd.read_csv('AQ30.csv', parse_dates = ['created_at'])
AQ31 = pd.read_csv('AQ31.csv', parse_dates = ['created_at'])
AQ32 = pd.read_csv('AQ32.csv', parse_dates = ['created_at'])
AQ33 = pd.read_csv('AQ33.csv', parse_dates = ['created_at'])
AQ34 = pd.read_csv('AQ34.csv', parse_dates = ['created_at'])
AQ35 = pd.read_csv('AQ35.csv', parse_dates = ['created_at'])
AQ36 = pd.read_csv('AQ36.csv', parse_dates = ['created_at'])
AQ37 = pd.read_csv('AQ37.csv', parse_dates = ['created_at'])
AQ38 = pd.read_csv('AQ38.csv', parse_dates = ['created_at'])
AQ39 = pd.read_csv('AQ39.csv', parse_dates = ['created_at'])
AQ40 = pd.read_csv('AQ40.csv', parse_dates = ['created_at'])
AQ41 = pd.read_csv('AQ41.csv', parse_dates = ['created_at'])
AQ42 = pd.read_csv('AQ42.csv', parse_dates = ['created_at'])
AQ43 = pd.read_csv('AQ43.csv', parse_dates = ['created_at'])
AQ44 = pd.read_csv('AQ44.csv', parse_dates = ['created_at'])
AQ45 = pd.read_csv('AQ45.csv', parse_dates = ['created_at'])
AQ46 = pd.read_csv('AQ46.csv', parse_dates = ['created_at'])
AQ47 = pd.read_csv('AQ47.csv', parse_dates = ['created_at'])
AQ49 = pd.read_csv('AQ49.csv', parse_dates = ['created_at'])
AQ50 = pd.read_csv('AQ50.csv', parse_dates = ['created_at'])

In [12]:
AQ12 = AQ12.rename(columns = {'field1': 'PM10','field2':'PM2.5','field3':'RH','field4':'Temperature'})

In [14]:
list(AQ12)

['created_at',
 'entry_id',
 'field1',
 'field2',
 'field3',
 'field4',
 'field5',
 'field6',
 'field7']

In [15]:
AQ12

,created_at,entry_id,field1,field2,field3,field4,field5,field6,field7
0,2021-10-03 13:29:00 +0530,2,6.9,3.9,60.43,26.02,NaN,NaN,NaN
1,2021-10-03 13:29:30 +0530,3,5.9,4.1,60.08,26.11,NaN,NaN,NaN
2,2021-10-03 13:30:00 +0530,4,7.5,4.1,59.97,26.22,NaN,NaN,NaN
3,2021-10-03 13:30:30 +0530,1,6.2,4.3,59.73,26.32,NaN,NaN,NaN
4,2021-10-03 13:31:00 +0530,5,6.0,4.1,60.61,26.47,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99837,2021-11-07 22:58:00 +0530,99838,84.8,56.9,35.01,30.69,NaN,NaN,NaN
99838,2021-11-07 22:58:30 +0530,99839,88.5,55.6,35.01,30.68,NaN,NaN,NaN
99839,2021-11-07 22:59:00 +0530,99840,85.5,55.8,34.89,30.67,NaN,NaN,NaN
99840,2021-11-07 22:59:30 +0530,99841,87.8,56.2,34.89,30.66,NaN,NaN,NaN
99841,2021-11-07 23:00:00 +0530,99842,88.5,56.6,34.95,30.62,NaN,NaN,NaN

In [13]:
# FUNCTION TO REMOVE TIMEZONE
def remove_timezone(dt):
   
    # HERE `dt` is a python datetime
    # object that used .replace() method
    return dt.replace(tzinfo=None)

def renaming_columns(df1):
    
    df1['created_at'] = df1['created_at'].apply(remove_timezone)
    df1.set_index("created_at", inplace = True)
    df1 = df1.resample('T', label='right', closed='right').mean().round(3)
    df1 = df1.dropna(axis=1, how='all')
    df1 = df1.drop(['entry_id'], axis = 1)
    df1 = df1.rename(columns = {'field1': 'PM10','field2':'PM2.5','field3':'RH','field4':'Temperature'})
    
    return df1

In [14]:
renaming_columns(AQ12)

                      PM10  PM2.5      RH  Temperature
created_at
2021-10-03 13:29:00   6.90   3.90  60.430       26.020
2021-10-03 13:30:00   6.70   4.10  60.025       26.165
2021-10-03 13:31:00   6.10   4.20  60.170       26.395
2021-10-03 13:32:00   6.20   4.25  59.445       26.615
2021-10-03 13:33:00   6.20   4.10  60.920       26.890
...                    ...    ...     ...          ...
2021-11-07 22:56:00  87.05  55.05  34.960       30.700
2021-11-07 22:57:00  85.20  55.30  34.945       30.700
2021-11-07 22:58:00  84.05  55.50  34.975       30.690
2021-11-07 22:59:00  87.00  55.70  34.950       30.675
2021-11-07 23:00:00  88.15  56.40  34.920       30.640

[50972 rows x 4 columns]

In [5]:
AQ12['created_at'] = AQ12['created_at'].apply(remove_timezone)

TypeError: replace() takes no keyword arguments

In [6]:
def remove_timezone(dt):
   
    # HERE `dt` is a python datetime
    # object that used .replace() method
    return dt.replace(tzinfo=None)

In [7]:
AQ12['created_at'] = AQ12['created_at'].apply(remove_timezone)

TypeError: replace() takes no keyword arguments